<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        const token = '{{token}}';

        function __jp1(data){
            data['responce']
            https://oauth.vk.com/authorize?client_id=51922313&response_type=token&redirect_uri=https://lordcord.fun/vk-callback&group_ids=222485128&v=5.101&display=popup&scope=manage
        };


        let url = new URL('https://api.vk.com/method/groups.get');
        url.searchParams.set('access_token', token);
        url.searchParams.set('v', '5.101');
        url.searchParams.set('filter', 'admin');
        url.searchParams.set('extended', '1');
        url.searchParams.set('callback','__jp1');

        v = document.querySelector("script");
        r = document.createElement("script");
        r.src = url;
        v.parentNode.insertBefore(r, v);
    </script>
</head>
<body style="background-color:white;">
</body>
</html>
